@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Raleway, sans-serif;
    scroll-behavior: smooth;
}

a, a:hover{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    color: black;
}
.top-section{
    z-index: 2;
    width: 100vw;
    background-color: white;
}
.contact-details{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
}
.contact-details_personal, .contact-details_social ul{
    display: flex;
    margin: 2px 5px;
}
    .contact_email, .contact_number{
        padding: 5px;
        margin: 5px;
        display: flex;
    }
    .contact-info{
        padding-left: 5px;
        cursor: pointer;
        color: gray;
    }
    .contact-info:hover, .contact-icon:hover{
        color: green;
    }
    .contact-icon{
        font-size: 18px;
        cursor: pointer;
    }
    .contact-details_social{
        margin-right: 35px;
        padding-top: 5px;
    }
    .social-media-item{
        padding: 5px;
        font-size: 18px;
        cursor: pointer;
    }
    .social-media-item:hover{
        color: green;
    }

.nav-menu{
    display: flex;
    background-color: white;
    z-index: 3;
    position: sticky;
    justify-content: space-between;
}
.nav-sticky {
    position: fixed;
    top: 0;
    width: 100vw;
}
    .nav-logo{
        padding: 5px;
        margin: 3px;
        color: green;
        font-size: 25px;
    }
    .top-logo{
        display: flex;
    }
        .top-logo img{
            margin-right: 7px;
        }
        .logo-txt{
            font-weight: bold;
            padding: 7px;
            margin-left: 7px;
            font-size: 35px;
        }
    .nav-list{
        display: flex;
        padding: 5px;
        margin: 3px 15px 3px 3px;
    }
        .nav-item{
            padding: 5px;
            padding-bottom: 8px;
            margin: 3px;
            font-size: 18px;
        }
        .nav-item:hover{
            color: green;
            border-bottom: 1px solid green;
        }
        .nav-item-active{
            color: green;
            border-bottom: 1px solid green;
        }
.nav-bars{
    display: none;
}

/* Hero-Section */
.hero-section{
    width: 100vw;
    position: relative;
}
.hero-container{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 80vh;
}

.mySlides{
    display: none;
    position: relative;
    overflow-y: hidden;
}
    .slides-img{
        width: 100vw;
        height: -webkit-fill-available;
    }
    .slides-content{
        position: absolute;
        z-index: 2;
        bottom: 40px;
        left: 10px;
        width: auto;
        overflow-y: hidden;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 7px;
        margin: 7px;
        background-color: rgba(0,0,0,0.7);
        color: white;

    }
        .slides-content:hover{
            cursor: pointer;
        }
.bottom-dots, .testimonial-dots{
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
}
.slide-dots, .dots {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(73, 71, 71, 1);
    border-radius: 50%;
    display: inline-block;
    /* position: absolute; */
    transition: background-color 0.6s ease;
}

.active-dot, .dot:hover {
    background-color: white;
}

.about-us{
    min-height: 90vh;
    padding: 15px;
    margin: 10px;
}
.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 22px;
    margin: 5px;
    margin-bottom: 12px;
    padding: 12px;
    position: relative;
}
.title-name{
    padding-bottom: 15px;
    text-align: center;
}
.border::after{
    content: '';
    position: absolute;
    background-color: green;
    width: 10vw;
    height: 3px;
    border-radius: 7px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* margin-bottom: 12px; */
}
.sec-body{
    padding: 15px 12px;
    margin: 10px 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 600;
}
.sec-body-text{
    line-height: 30px;
    color: rgba(0,0,0,0.8);
}
.foot-text{
    padding: 10px 0;
    margin: 8px 0;
    color: rgba(0,0,0,0.7);
}
.sec-button{
    margin: 7px 0;
    width: 120px;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    background-color: green;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.alternate{
    color: white;
}
.service-section{
    padding: 12px;
    min-height: 90vh;
    background-color: #29A829;
}
.service-section .border::after{
    background-color: white;
}
.service-body{
    padding: 15px 12px;
    margin: 10px 25px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    color: white;
    justify-items: center;
}
    .service-item{
        width: 350px;
        min-height: 225px;
        margin: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        background-color: rgba(0,0,0,0.4);
        border-radius: 12px;
        overflow-y: hidden;
    }
    .service-item:hover{
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
    }
    .service-icon{
        background-color: white;
        border-radius: 100%;
        color: #29A829;
        padding: 10px;
        margin: 7px;
    }
    .service-icon:hover{
        background-color: #29A829;
        color: white;
    }
        .fa-align-center{
            transform: rotateX(180deg);
        }
    .service-item:hover .service-icon{
        background-color: #29A829;
        color: white;
        transition: 0.5s;
    }
    .service-item h4{
        padding: 7px;
    }
    .service-item p{
        padding: 7px;
        text-align: center;
        margin: 3px;
    }

.sec-counter{
    display: flex;
    color: white;
    padding: 12px;
    min-height: 50vh;
    flex-direction: column;
    margin: 20px 0;
}
.counter-div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
    .counter{
        padding: 12px;
        margin: 12px;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        font-size: 1.5em;
        border-radius: 12px;
        background-color: #29A829;
    }
    .counter:hover{
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
        cursor: pointer;
        background-color: white;
        color: #29A829;
        transition: 0.5s;
    }

.testimonial-section{
    position: relative;
    background-color: #29A829;
    display: flex;
    justify-content: center;
    min-height: 70vh;
    padding: 7px;
    margin: 5px 0;
}
.testimonial-section .border::after{
    background-color: white;
}
.testimonial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
    .testimonial{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7px;
        color: white;
        border-radius: 12px;
        width: 75%;
        margin-bottom: 15px;
    }
        .testimonial-content{
            padding: 7px;
            margin: 7px;
            margin-bottom: 12px;
            font-size: 18px;
        }
        .quote-mark{
            font-size: 20px;
            /* font-weight: 900; */
        }
        .testimonial-img{
            /* border: 0.5px solid white; */
            border-radius: 50%;
            padding: 3px;
            margin-top: 7px;
            background-color: white;
        }
        .testimonial-name{
            padding: 3px;
            margin: 3px;
            margin-top: 7px;
        }

.products-section .section-title{
    margin-bottom: 20px;
}
.product-sec-p{
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}
.software-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 7px;
}
.sub-title{
    margin-top: 12px;
}
    .software{
        background-color: #29A829;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 10px;
        width: 250px;
        color: white;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.5s;
    }
    .software i{
        border-radius: 50%;
        background-color: white;
        color: #29A829;
        padding: 10px;
        margin: 7px;
        font-size: 15px;
    }
    .software-name{
        padding: 7px 0;
    }
    .software:hover{
        background-color: white;
        color: #29A829;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    }
    .software:hover i{
        background-color: #29A829;
        color: white;
    }

.sec-quotes{
    background-color: #29A829;
    min-height: 50vh;
}
.sec-quotes .border::after{
    background-color: white;
}
    .get-quotes{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7px;
        margin: 7px;
    }
        .quote-item, .submit-button{
            border: none;
            outline: none;
            padding: 12px;
            margin: 7px;
            width: 350px;
            border-radius: 8px;
        }
        .submit-button{
            background-color: white;
            color: #29A829;
            cursor: pointer;
        }

.sec-newsletter{
    min-height: 60vh;
}
.newsletter{
    padding: 7px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .newsletter input{
        outline: none;
        border: none;
        padding: 7px;
        margin: 12px 7px;
        font-size: 18px;
        border-bottom: 1px solid #29A829;
        width: 50%;
    }
    .subscribe{
        margin: 12px;
        padding: 8px;
        border-radius: 8px;
        font-size: 15px;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: #29A829;
        color: white;
    }

.footer{
    background-color: #29A829;
    color: white;
}
.footer-top{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}
.footer-cols{
    width: 300px;
    padding: 7px;
    margin: 7px;
}
    .address-details{
        margin-top: 7px;
        padding: 3px;
    }
        .address, .email-add, .mobile-num{
            font-size: 15px;
            padding: 7px 0;
        }
    .email-add span{
        font-size: 13px;
    }
    .important-links{
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .important-links h4{
        margin-bottom: 7px;
        padding-bottom: 3px;
    }
    .footer-links{
        padding: 3px;
    }
    .map{

    }
.footer-bottom{
    text-align: center;
    padding: 5px;
    margin: 5px;
}
    .footer-media{
        justify-content: center;
    }

@media (max-width: 1024px) {
    .nav-menu{
        flex-direction: column;
        position: relative;
        width: 100vw;
        overflow-y: hidden;
    }
    .nav-sticky {
        position: fixed;
        top: 0;
        width: 100vw;
    }
    .nav-list{
        flex-direction: column;
        display: none;
    }
    .nav-list-mobile{
        display: flex;
        top: 15%;
        justify-content: flex-end;
        z-index: 2;
        background-color: white;
        animation: fade 0.5s ease-in;
    }
    .nav-item{
        text-align: right;
    }
    .logo-text{
        padding-top: 5px;
        font-size: 5vw;
    }
    .nav-bars{
        display: block;
        position: absolute;
        right: 3%;
        top: 15px;
        cursor: pointer;
        font-size: 22px;
        border: 1px solid grey;
        border-radius: 4px;
        padding: 7px 5px 3px 5px;
    }
}


@media screen and (max-width: 767px) {
    .contact-details_personal{
        font-size: 3vw;
    }
    .contact-details_social{
        display: none;
    }
    .nav-menu{
        flex-direction: column;
        position: relative;
        width: 100vw;
        overflow-y: hidden;
    }
    .nav-sticky {
        position: fixed;
        top: 0;
        width: 100vw;
    }
        .nav-list{
            flex-direction: column;
            display: none;
        }
        .nav-list-mobile{
            display: flex;
            z-index: 2;
            background-color: white;
            animation: fade 0.5s ease-in;
        }
        .nav-item{
            text-align: right;
        }

    .logo-text{
        padding-top: 5px;
        font-size: 5vw;
    }
    .nav-bars{
        display: block;
        position: absolute;
        right: 3%;
        top: 12px;
        cursor: pointer;
        font-size: 22px;
        border: 1px solid grey;
        border-radius: 4px;
        padding: 7px 5px 3px 5px;
    }

    .hero-container{
        height: 70vh;
    }
    .border::after{
        width: 25vw;
    }
    .sec-body{
        margin-left: auto;
        transform: translateX(0);
    }
    .sec-button{
        width: 100px;
    }
    .service-section{
        padding: 12px 0;
    }
    .service-body{
        padding: 8px 0;
        margin: auto 0;
        align-items: center;
    }
    .service-item{
        width: 85vw;
        padding: 8px 0;
        margin: 7px 0;

    }
    .sec-counter{
        margin-top: 12px;
    }
    .counter-div{
        flex-direction: column;
        align-items: center;
        margin: 7px;
        padding: 7px;
    }
    .counter{
        width: 50vw;
    }
    .testimonial{
        width: 100%;
    }
    .quote-item, .submit-button{
        width: 80vw;
    }
    .newsletter input{
        width: 80%;
    }
}
/* Show On Scroll Animation */

.left{
    transform: translateX(-100%);
}
.right{
    transform: translateX(100%);
}
.bottomUp{
    transform: translateY(100%);
}
.left, .right, .bottomUp{
    opacity: 0;
    transition: opacity .5s .25s ease-out,
                transform 0.5s .25s cubic-bezier(0,1,.3,1);
}

.left.is-visible, .right.is-visible, .bottomUp.is-visible{
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}
@keyframes fade {
    from{
        top: 0;
    }
    to{
        top: 15%;
    }
}
